<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body>
  <div class="login-container">
    <div class="login-box">
      <h2>LOGIN</h2>
      <form method="POST" action="/login">

        <!-- Roll No. -->
        <div class="login-input-box">
          <i class="fa fa-id-card"></i>
          <input 
          type="text" 
          name="roll_no"
          maxlength="6" 
          oninput="this.value = this.value.replace(/[^0-9]/g, '')"  
          placeholder="Roll No" 
          required
          >
        </div>

        <!-- Password -->
        <div class="login-input-box">
          <i class="fa fa-lock"></i>
          <input type="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit">LOGIN</button>
      </form>
    </div>
  </div>
</body>

</html>