/* Background with classroom theme */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("classroom-bg.png") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Center container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login Box */
.login-box {
    background: #fff;
    padding: 40px 20px;
    border-radius: 15px;
    width: 290px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Heading */
.login-box h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
    color: #002b5b;
}

/* Input Container */
.login-input-box {
    position: relative;
    margin: 15px 0;
    width: 100%;
}

/* Icon Inside input */
.login-input-box i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    font-size: 18px;
}

/* Input fields */
.login-input-box input {
    width: 85%;
    padding: 12px 0 15px 40px;
    margin: 2px 0;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.login-input-box input:focus {
    border-color: #2f80ed;
}

/* Button */
.login-box button {
    width: 100%;
    padding: 14px;
    background: #2f80ed;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2px;
    transition: 0.3s ease;
}

.login-box button:hover {
    background: #1d5dcc;
}